@using IdentityServer.Abstraction.Configs
@using IdentityServer.Abstraction.Extensions
@using IdentityServer.AdminPortal.Web.Components.Interop
@using IdentityServer.AdminPortal.Web.Components.Primitive
@using Microsoft.Extensions.Options

@inherits EditableComponentBase

@inject IAdminApiService AdminApi
@inject IConfirmationService ConfirmationService
@inject IClipboardService ClipboardService
@inject NotificationService NotificationService
@inject IOptions<SecretExpirationConfig> SecretExpirationConfig

<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto my-auto align-middle">
                <h5 class="my-0">Secrets</h5>
            </div>
            <div class="ms-auto pe-2">
                <HistoryButton ApplicationId="Application.Id" EntityTypeFilter="@HistoryEntryDtoExtensions.GetDisplayName(HistoryEntryDtoExtensions.KnownEntityTypes.ClientSecret)" />
            </div>
            @if (!IsReadonly && !showAddControls)
            {
                <div>
                    <TelerikButton Size="small" OnClick="ShowAddNewSecretMenu" ThemeColor="primary" ButtonType="ButtonType.Button">Add New Secret</TelerikButton>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <ErrorAlert @bind-ErrorMessage="@errorMessage" />

        @if (awaitingResults)
        {
            <div>
                <TelerikLoaderContainer />
            </div>
        }
        @if (Application != null)
        {
            @if (!IsReadonly && showAddControls)
            {
                <NewSecretForm OnAddCallback="AddItem" OnCancel="CancelNewItem"
                               ProhibitedValues="Application.ClientSecrets?.Select(cs => cs.Description?.ToLower()).ToList()" />
            }

            @if (Application.ClientSecrets != null && Application.ClientSecrets.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-borderless table-hover align-middle">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Preview</th>
                                <th>Created</th>
                                <th>Expires</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var secret in Application.ClientSecrets)
                            {
                                var expirationClass = secret.Expiration.GetExpirationCssClass(SecretExpirationConfig.Value.DaysBeforeExpirationNotification);
                                <tr>
                                    <td class="w-25">@secret.Description</td>
                                    <td>@(secret.Preview.FormatAsSecretPreview())</td>
                                    <td><span>@(secret.Created.FormatAsUtcString()) <small>(@(secret.Created.GetTimeDistanceInDays())&nbsp;days&nbsp;ago)</small></span></td>
                                    <td class="@expirationClass">
                                        <SecretExpirationDisplay Expiration="@secret.Expiration" 
                                                                 DaysBeforeExpirationNotification="@SecretExpirationConfig.Value.DaysBeforeExpirationNotification" />
                                    </td>
                                    <td>
                                        @if (!IsReadonly)
                                        {
                                            <div class="d-flex">
                                                <TelerikButton ButtonType="ButtonType.Button"
                                                           OnClick="() => DeleteSecretAsync(secret)" Icon="@SvgIcon.Trash"
                                                           ThemeColor="error" FillMode="outline" Class="ms-auto" />
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-auto my-auto">
                    <span class="form-control-plaintext">This application doesn't have any client secrets.</span>
                </div>
            }
        }
    </div>
</div>

<InfoBoxModal TModel="ClientPropertySecretValueDtoRead" @ref="secretValueDialog">
    <FormItems>
        <FormItem>
            <Template>
                @if (string.IsNullOrEmpty(secretValueDialog.Model.Value))
                {
                    <div class="alert alert-warning">
                        <strong>Error!</strong> The secret value cannot be displayed. Please escalate to the adminstrator.
                    </div>
                }
                else
                {
                    <div class="alert alert-info mb-1">
                        <strong>Warning!</strong> The secret value is only displayed once.
                    </div>
                    <div>
                        <TelerikTextBox Width="200px" @bind-Value="@secretValueDialog.Model.Value" ReadOnly="true" AriaLabel="Value of the created secret" />
                        <TelerikButton Class="tooltip-target" OnClick="() => CopyToClipboard(secretValueDialog.Model.Value)" Icon="@SvgIcon.Copy" Title="Copy to clipboard" ThemeColor="primary" ButtonType="ButtonType.Button">Copy</TelerikButton>
                    </div>
                }
            </Template>
        </FormItem>
    </FormItems>
</InfoBoxModal>

@code {
    [Parameter]
    public ClientDtoRead Application { get; set; } = default!;

    [Parameter]
    public EventCallback OnApplicationUpdate { get; set; }

    private InfoBoxModal<ClientPropertySecretValueDtoRead> secretValueDialog = default!;
    private string? errorMessage;
    private bool awaitingResults = false;
    private bool showAddControls;

    private async void AddItem((string Description, int ValidityPeriodYears) secretData)
    {
        if (IsReadonly)
        {
            return;
        }

        if (Application == null)
        {
            return;
        }

        var secret = new ClientPropertySecretDtoCreate
        {
            ClientId = Application.Id,
            Description = secretData.Description,
            ValidityPeriodYears = secretData.ValidityPeriodYears
        };
        awaitingResults = true;
        var callResult = await AdminApi.AddClientSecret(secret);
        if (callResult.IsSuccess)
        {
            errorMessage = null;
            var createdSecret = callResult.Result;
            if (Application.ClientSecrets == null)
            {
                Application.ClientSecrets = new();
            }
            Application.ClientSecrets.Add(createdSecret);
            await OnApplicationUpdate.InvokeAsync();

            await InvokeAsync(() =>
            {
                HideAddNewSecretMenu();
                NotificationService.ShowInfo($"New secret '{createdSecret.Description}' {MutationType.Created.ToString()}.");
                secretValueDialog.OpenDialog("New Secret Value", createdSecret);
            });
        }
        else
        {
            errorMessage = callResult.ErrorMessage;
        }

        awaitingResults = false;
        StateHasChanged();
    }

    private void CancelNewItem()
    {
        errorMessage = null;
        HideAddNewSecretMenu();
        StateHasChanged();
    }

    private async Task CopyToClipboard(string text)
    {
        await ClipboardService.CopyToClipboard(text);
        NotificationService.ShowInfo("The secret value was copied to the clipboard!");
    }

    private async Task DeleteSecretAsync(ClientPropertySecretDtoRead secret)
    {
        if (IsReadonly)
        {
            return;
        }

        var confirmed = await ConfirmationService.ConfirmAsync("Delete Confirmation",
            "Are you sure you want to delete this secret?");

        if (!confirmed)
        {
            return;
        }

        awaitingResults = true;
        var callResult = await AdminApi.DeleteClientSecret(secret);
        if (callResult.IsSuccess)
        {
            errorMessage = null;
            Application?.ClientSecrets?.Remove(secret);
            NotificationService.ShowInfo($"Secret '{secret.Description}' {MutationType.Deleted.ToString()}.");
            await OnApplicationUpdate.InvokeAsync();
        }
        else
        {
            errorMessage = callResult.ErrorMessage;
        }
        awaitingResults = false;
    }

    private void ShowAddNewSecretMenu()
    {
        showAddControls = true;
    }
    private void HideAddNewSecretMenu()
    {
        showAddControls = false;
    }
}
