@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

@using Telerik.Blazor.Components
@using Telerik.DataSource
@using IdentityServer.AdminPortal.Web.Pages.Grid

@inject IAdminApiService AdminApi

@inherits GridListBasePage<ClientShortDtoRead>

<ErrorAlert @bind-ErrorMessage="@ErrorMessage" />

<div style="position:relative">
    @*
            This LoaderContainer is used only during initial data load.
            The position:relative style on the parent DIV makes the LoaderContainer cover only the Grid.
            The LoaderContainer configuration and Template matches the built-in Grid loading animation.
        *@
    <TelerikLoaderContainer OverlayThemeColor="@ThemeConstants.Loader.ThemeColor.Light"
                            Visible="@IsFirstLoad">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@ThemeConstants.Loader.Size.Large" />
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid TItem="ClientShortDtoRead"
                 Pageable="true"
                 Sortable="true"
                 FilterMode="ColumnSet == ColumnSetKind.Wide ? GridFilterMode.FilterRow : GridFilterMode.None"
                 PageSize="@PageSize"
                 PageSizeChanged="@OnPageSizeChanged"
                 OnRead="@ReadItems"
                 ShowColumnMenu="true"
                 @ref="GridRef"
                 OnStateInit="@((GridStateEventArgs<ClientShortDtoRead> args) => OnStateInitHandler(args))"
                 OnStateChanged="@((GridStateEventArgs<ClientShortDtoRead> args) => OnStateChangedHandler(args))">
        <GridSettings>
            <GridColumnMenuSettings FilterMode="@ColumnMenuFilterMode.None"
                                    Groupable="false"
                                    Lockable="false"
                                    Reorderable="false"
                                    Sortable="false"
                                    ShowColumnChooser="true">
            </GridColumnMenuSettings>
            <GridPagerSettings InputType="ColumnSet == ColumnSetKind.Wide ? PagerInputType.Buttons : PagerInputType.Input"
                               PageSizes="@PageSizes">
            </GridPagerSettings>
        </GridSettings>
        <GridToolBar>
            <GridToolBarSearchBoxTool Fields="@SearchAllFieldsList" Placeholder="Search by Identifier, Display Name, System Permission, or Environment" Width="100%" />
            <GridToolBarCustomTool>
                <ShowMyItemsToggle Visible="@ShowMyItemsToggleVisible"
                                   Value="@ShowOnlyMyItems"
                                   ValueChanged="@((bool v) => OnShowMyItemsChanged(v))"
                                   Label="My Applications" />
                <TelerikButton ButtonType="ButtonType.Button" OnClick="@ResetFilters" Icon="SvgIcon.FilterClear" ThemeColor="secondary" FillMode="outline" Size="sm">Reset all filters</TelerikButton>
                <TelerikButton ButtonType="ButtonType.Button" OnClick="@ResetState" Icon="SvgIcon.XCircle" ThemeColor="secondary" FillMode="outline" Size="sm">Reset grid</TelerikButton>
            </GridToolBarCustomTool>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(ClientShortDtoRead.ClientId))" Title="Identifier" VisibleInColumnChooser="false">
                <Template>
                    @{
                        if (context is ClientShortDtoRead app)
                        {
                            <AccessLevelEntityLink AccessLevel="@app.AccessLevel" Text="@app.ClientId"
                                                   OnLinkClick="@(() => OnClientClick.InvokeAsync(app.Id))"
                                                   SystemPermissionEnvironmentId="@app.SystemPermissionEnvironmentId" />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(ClientShortDtoRead.ClientName))" Title="Display Name" Visible="@(ColumnSet == ColumnSetKind.Wide)" />
            <GridColumn Field="@(nameof(ClientShortDtoRead.SystemPermissionName))" Title="System Permission" Visible="false">
                <Template>
                    @{
                        if (context is ClientShortDtoRead app)
                        {
                            <AccessLevelLink AccessLevel="@app.AccessLevel" Text="@app.SystemPermissionName" Href="@PageRoutes.SystemPermissionsEdit(@app.SystemPermissionId)" />
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(ClientShortDtoRead.SystemPermissionEnvironmentName))" Title="Environment">
                <Template>
                    @if (context is ClientShortDtoRead app)
                    {
                        <SystemPermissionEnvironmentContactsButton Entity="app" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(ClientShortDtoRead.SystemPermissionEnvironmentOwners))" Title="Owners" Visible="@(ColumnSet == ColumnSetKind.Wide)"
                        Sortable="false"
                        DefaultFilterOperator="FilterOperator.Contains"
                        FilterOperators="@ContainsOrNotLimitedFilterOperators" />
            <GridColumn Field="@(nameof(ClientShortDtoRead.Created))" Title="Created At" Visible="false" DefaultFilterOperator="FilterOperator.IsEqualTo" />
            <GridColumn Field="@(nameof(ClientShortDtoRead.Updated))" Title="Updated At" Visible="false" Filterable="false" />
        </GridColumns>
        <NoDataTemplate>
            <div class="col-auto">
                <span class="form-control-plaintext text-muted">None</span>
            </div>
        </NoDataTemplate>
    </TelerikGrid>
</div>

@code {
    [Parameter, EditorRequired]
    public EventCallback<int> OnClientClick { get; set; }

    [Parameter]
    public HashSet<int>? AllowedEnvironments { get; set; }

    [Parameter]
    public EventCallback<int> OnDataLoad { get; set; }

    [Parameter, EditorRequired]
    public string GridStateStorageKey { get; set; }

    [Parameter]
    public ColumnSetKind ColumnSet { get; set; } = ClientList.ColumnSetKind.Wide;

    [Parameter]
    public string? ScopeNameFilter { get; set; }

    private readonly List<string> SearchAllFieldsList = new()
    {
        nameof(ClientShortDtoRead.ClientId),
        nameof(ClientShortDtoRead.ClientName),
        nameof(ClientShortDtoRead.SystemPermissionName),
        nameof(ClientShortDtoRead.SystemPermissionEnvironmentName),
    };

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        // The offcanvas provides enough place only for few items. Long grid pushes control buttons outside the visible area.
        if (ColumnSet == ColumnSetKind.Narrow)
        {
            PageSizes = new List<int?> { };
            PageSize = 10;
        }
    }

    public enum ColumnSetKind
    {
        Wide,
        Narrow
    }

    public bool IsLoading() => isLoading;

    private bool isLoading = false;

    protected override async Task<ApiCallResult<DataEnvelope<ClientShortDtoRead>>> GetData(DataSourceRequest request)
    {
        if (AllowedEnvironments != null && AllowedEnvironments.Any())
        {
            var compositeFilter = new CompositeFilterDescriptor
            {
                LogicalOperator = FilterCompositionLogicalOperator.Or,
                FilterDescriptors = new FilterDescriptorCollection()
            };

            foreach (var envId in AllowedEnvironments)
            {
                compositeFilter.FilterDescriptors.Add(
                    new FilterDescriptor
                    {
                        Member = nameof(ClientDtoRead.SystemPermissionEnvironmentId),
                        Operator = FilterOperator.IsEqualTo,
                        Value = envId
                    });
            }

            request.Filters.Add(compositeFilter);
        }

        try
        {
            isLoading = true;
            var result = string.IsNullOrEmpty(ScopeNameFilter)
                    ? await AdminApi.GetClientsPaged(request)
                    : await AdminApi.GetClientsByScopePaged(ScopeNameFilter, request);
            await OnDataLoad.InvokeAsync(result.ErrorMessage == null ? result.Result.TotalItemCount : -1);

            return result;
        }
        finally
        {
            isLoading = false;
        }
    }

    protected override string GridUniqueStorageKey => GridStateStorageKey;
}
