@using IdentityServer.Abstraction.Configs
@using Microsoft.Extensions.Options

@inject IOptions<SecretExpirationConfig> SecretExpirationConfig

<TelerikForm Model="@_model" OnValidSubmit="@OnAddAsync" ButtonsLayout="FormButtonsLayout.End">
    <FormValidation>
        <DataAnnotationsValidator />
    </FormValidation>
    <FormItems>
        <FormItem Field="@nameof(_model.SecretDescription)">
            <Template>
                <label for="newSecretDescription" class="k-label k-form-label">Description</label>
                <TelerikTextBox Id="newSecretDescription"
                                @bind-Value="@_model.SecretDescription"
                                Placeholder="Enter new secret description here" />
                <TelerikValidationMessage For="@(() => _model.SecretDescription)" />
            </Template>
        </FormItem>
        <FormItem Field="@nameof(_model.ValidityPeriodYears)">
            <Template>
                <label for="newSecretValidity" class="k-label k-form-label">Validity Period (years)</label>
                <TelerikNumericTextBox Id="newSecretValidity"
                                       @bind-Value="@_model.ValidityPeriodYears"
                                       Min="1"
                                       Max="@SecretExpirationConfig.Value.MaxValidityYears"
                                       Decimals="0" />
                <div class="k-form-hint">Maximum: @SecretExpirationConfig.Value.MaxValidityYears years</div>
                <TelerikValidationMessage For="@(() => _model.ValidityPeriodYears)" />
            </Template>
        </FormItem>
    </FormItems>
    <FormButtons>
        <TelerikButton ButtonType="@ButtonType.Button" ThemeColor="secondary" OnClick="OnCancel">Cancel</TelerikButton>
        <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="primary">Create</TelerikButton>
    </FormButtons>
</TelerikForm>

@code {
    [Parameter]
    public List<string> ProhibitedValues { get; set; } = new();

    [Parameter]
    public EventCallback<(string Description, int ValidityPeriodYears)> OnAddCallback { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private SecretFormWrapper _model = new();

    private async Task OnAddAsync()
    {
        await OnAddCallback.InvokeAsync((_model.SecretDescription, _model.ValidityPeriodYears));
        ResetModel();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ResetModel();
    }

    private void ResetModel()
    {
        _model = new SecretFormWrapper
        {
            AlreadyExistingUniquePropertyValues = new HashSet<string>(ProhibitedValues, StringComparer.OrdinalIgnoreCase),
            ValidityPeriodYears = SecretExpirationConfig.Value.MaxValidityYears
        };
    }
}
